{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galaxy NEWS</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="control-bar fine-edge">
        <div class="time">
        </div>
        <div class="lang-select">
            <label for="lang">Lang:</label>
            <select name="lang" id="lang">
                <option value="1">ENG</option>
                <option value="2">NEP</option>
            </select>
        </div>

    </div>
    <div class="header fine-edge">
        <a href="{% url 'home' %}" class="brand">GALAXY</a>
        <nav>
            <a href="#" class="active">Home</a>
            <a href="#">International</a>
            <a href="#">Sports</a>
            <a href="#">Politics</a>
            <a href="#">Blog</a>
        </nav>
        <div class="menu-icon" onclick="show_nav()">
            <div class="bar bar-1"></div>
            <div class="bar bar-2"></div>
            <div class="bar bar-3"></div>
        </div>
    </div>
    <section class="front-news fine-edge">
        <div class="frontline">
            <div class="news-title">
                <p>"{{post.title}}"</p>
            </div>
            <div class="news-desc">
                <p>By {{post.user_id}}</p>
                <p>{{post.date}}</p>
            </div>
            <div class="cover-photo"><img src="{{post.image.url}}" alt=""></div>
            <div class="news-body">
                <p>{{post.body}}</p>
            </div>
        </div>
    
        <div class="latest">
            <h2>Latest</h2>
            <div class="latest-container">
                {% for x in posts %}
                <a href="{% url 'readon' x.id %}" class="latest-row">
                    <div class="latest-img">
                        <img src="{{x.image.url}}" alt="">
                        
                    </div>
                    <div class="latest-title">
                        <p>{{x.title}}</p>
                        <p>{{x.date}}</p>
                    </div>
                </a>
                {% endfor %}



            </div>
        </div>
    </section>
    <footer class="footer fine-edge">
        <a href="" class="brand">GALAXY</a>
    </footer>
    <script>
        var date = Date()
        var time = document.querySelector(".time")
        time.innerHTML = date.toLocaleString()

        var header = document.querySelector(".header");

        function show_nav() {
            header.classList.toggle("show-nav")
        }
        function check_scroll(scl) {
            if (scrollY > 35) {
                header.classList.add("fixed")
            }
            else {
                header.classList.remove("fixed")
            }
            if (scl - currentpos > 1.5 && scrollY > 70) {
                header.classList.add("header-hide")
            }
            else if (scl - currentpos < -1.5) {
                header.classList.remove("header-hide")
            }
        }

        var currentpos = 0;
        window.addEventListener("scroll", () => {
            check_scroll(window.scrollY)
            currentpos = window.scrollY
        })


    </script>
</body>

</html>